<div>
    <h1>Need</h1>
<% if (needs) { %> 
    <% needs.forEach((need,i) => { %>
        <div >    
            <div>
              <!-- <a href="<%#- artist.items[i].images[0].url%>">Pic</a> -->
              <form action="/moveNeedToHave/<%- listId %>" method="POST">
                  <label>
                    <h5><%- need.name %></h5>
                    <!-- <input type="checkbox" name="id" value="<%#-need._id%>"> -->
                    <input type="hidden" name="id" value="<%-need._id%>">
                    <button type="submit">Move To Have</button>
                  </label>
                </form>
                <br>
                <!-- <form action="/delete/product/<%#- listId %>" method="POST">
                    <input type="hidden" name="id" value="<%#-need._id%>">
                    <button type="submit" >Delete</button>
                </form> -->
            </div>
        </div>
    <% }) %>
<% } %>
</div>
<div>
    <h1>Have</h1>

    <% if (haves) { %> 
        <% haves.forEach((have) => { %>
            <div >    
                <div>
                  <form action="/moveHaveToNeed/<%- listId %>" method="POST">
                      <label>
                        <h5><%- have.name %></h5>
                        <input type="hidden" name="id" value="<%-have._id%>">
                        <button type="submit">Move To Need</button>
                      </label>
                    </form>
                    <br>
                    <form action="/delete/product/<%- listId %>" method="POST">
                        <input type="hidden" name="id" value="<%-have._id%>">
                        <button type="submit" >Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>

<br>
<div>
    <form action="/addProduct/<%- listId %>" method="POST">
        <label>Product: <input type="text" name="name" required></label><button type="su
        ">Add Product to List</button>
    </form>
</div>

<% if (typeof err !== 'undefined') { %>
    <p style="color: blue"><%= err %></p>
    <% } %>
<!-- <br> -->
<!-- <div>All Products</div> -->
<%# allProducts.forEach(product => { %>
    <!-- <div > -->
        <!-- <img src="<%#= album.images[0].url%>" alt="picture" /> -->
        <!-- <div style="background-image: url('<%#= album.images[0].url%>'); height: 400px; width: 350px; background-size: cover;"></div> -->

        <!-- <div> -->
            <!-- <h1><%#-product.name%></h1> -->
          <!-- <a href="<%#- artist.items[i].images[0].url%>">Pic</a> -->
          <!-- <button><a href="/auth/profile/">Add To some List</a></button>
        </div>
    </div> -->
<%# }) %> 